/* {
    --color1: #050A0D;
    --color2: #64818C;
    --color3: #95B8BF;
    --color4: #73503C;
    --color5: #A67F68;
}*/

.navigation {
    list-style: none;
    display: flex;
    margin: none;
    margin: auto;
    font-family: 'Castoro Titling', cursive;
}

.navigation li *{
    color: #050A0D;
    text-decoration: none;
    margin: auto 40px;
    font-size: 20px;
    transition: 0.5s;
}

.navigation li *:hover {
    text-decoration: underline;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.494);
    transition: 0.5s;
    padding: 15px;
    font-size: 22px;
}

@media only screen and (max-width: 768px) {
    .navigation {
        display: none;
    }

    
}

