.img {
    width: 100%;
    aspect-ratio: 100/70;
    overflow: hidden;
    object-fit: cover;
    object-position: center center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    width: 100%;
    max-width: 600px;
}